@tailwind base;
@tailwind components;
@tailwind utilities;

#headerTitle{
	font-size: 50px;
	font-weight: 400;
	background-image: linear-gradient(to left, #183de5, #5b91b0);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	margin-left: 16%;
}
#sidebarContainer{
	height: inherit;
}

#sidebar{
	top: 15%;
	left: 11%
}

.sidebarIcon {
	width: 52%;
	display: initial;
}

.sidebarHr {
	border: white solid 0.1vh;
	width: 94%;
	margin-top: 14%;
}

.sidebarIconLabel{
	margin-left: 30%;
	margin-top: 3%;
	font-size: 20px;

}

#menuButton {
	margin-left: 30%;
}

.sidebarGroup:first-child {
	margin-top: 50%;

}

.sidebarItem{
	margin-top: 20%;
}

#dropdownMenu{
	width: 11%;
	margin-top: 0.5%;
}



