@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
	background-image: url('../images/5053309.jpg');
	color: #ffffff;

}

/* GLOBAL */
.text-center {
	text-align: center;
}
.inline-flex {
	display: inline-flex;
}
.width-100 {
	width: 100%;
}

/* CONTAINERS */
.mainContainer {
	position: fixed;
	width: 100%;
	height: 100%;
}

.grid-center{
	display: grid;
	justify-items: center;
	align-items: center;
	text-align: center;
	justify-content: center;
} 

.grid-cover-container {
	place-items: center;
	display: grid;
}


#dashboardTitleContainer {
	height: 9%;
}

#userTypeButtonsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	height: 100%;
}

#card-img-container {
	background-color: seashell;
	width: 100%;
	padding: 25px;
	/* display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	height: 100%; */
}


/* BUTTONS */
.userTypeButton {
	border: 2px solid #ffffff;
	border-radius: 8px;
	padding: 15px 40px;
	color: #ffffff;
	font-size: 2.25rem;
	cursor: pointer;
	transition: all 150ms ease-in-out;
	width: 34vh;
	height: 20vh;
	background-color: darkblue;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: xxx-large;
}

.userTypeButton:hover {
	background-color: #ffffff;
	color: #000000;
}

.userTypeButton:active {
	background-color: #000000;
	color: #ffffff;
}

.marginRight {
	margin-right: 3%;
}

.stastsContainer {
	width: 32%;
	height: 59%;
	margin-left: 21%;
	margin-top: 10%;
	border-radius: 11px;
	padding: 13px;
	float: left;
}

.controlsContainer {
	width: 32%;
	height: 59%;
	float: left;
	margin-top: 10%;
	margin-left: 3%;
	border-radius: 11px;
	padding: 13px;
}

#containerAreasTitle {
	text-align: center;
}

#bLPoolSettings {
	float: inline-end;
	margin-top: 1vh;
}

/* CARDs */
.card {
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	width: 15%;
	margin-left: 7%;
	margin-top: 1%;
	border: 2px solid #ffffff;
	border-radius: 8px;
	cursor: pointer;
	transition: all 150ms ease-in-out;
	float: left;
}

.card:hover {
	background-color: rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
}

.card:active {
	background-color: rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
}

.card ul {
	list-style-type: none;
	padding: 20px;
}

.card-title {
	font-size: 1.50rem;
}

.card-description {
	font-size: 1.00rem;
	color: rgba(255, 255, 255, 0.5);
}

.card-button {
	width: 49%!important;
	margin: 5px;
}