@tailwind base;
@tailwind components;
@tailwind utilities;

#investorMainContainer {
    height: inherit;
}

#upperInvestorLeftSide{
    background-color: red;
    height: 18%;
}

#middleInvestorLeftSide{
    background-color: white;
    height: 54%;
}

#lowerInvestorLeftSide{
    background-color: blue;
    height: 28%;
}

#investorLeftSideBottom{
    padding: 1%;
}

.stakeBtn{
    background-color: #DEAD52;
    width: 30vh;
    height: 5vh;
    cursor: pointer;
    border: none;
}
